@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-size: 1em;
}

body{
    background-color: #D9D9D9;
    font-family: 'Comme', sans-serif;
}

a{
    text-decoration: none;
}

.select-atual{
    background-color: orange;
    color: black;
}
/*Início cabeçalho*/
.cabecalho{
    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100vw;
}

.logo img{
    padding-left: 40px;
    width: 200px;
}

.menu-pesquisa{
    border: 1px solid red;
    border-radius: 20px;
    background-color: white;
    display: flex;
}

.menu-pesquisa input{
    background: transparent;
    border: none;
    width: 608px;
}

.menu-pesquisa input:focus{
    box-shadow: 0;
    outline: 0;
}

.menu-pesquisa img{
    position: relative;
    right: 5px;
    width: 44px;
    cursor: pointer;
}

.menu-nav{
    position: relative;
    top: 34px;
}

.menu-nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu-nav a:link, a:visited{
    background-color: white;
    color: orange;
    border-radius: 20px;
    padding: 8px 15px;
    
    text-decoration: none;
}

.menu-nav a:hover{
    background-color: orange;
    color: black;
}

.conta{
    color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.conta img{
    height: 46px;
}

.conta img.seta{
    height: 27px;
}

.carrinho{
    padding-right: 40px;
}

.carrinho img{
    width: 62px;
}

.carrinho p{
    margin: 10px auto;
    color: orange;
}
/*Fim cabeçalho*/

/*Início principal*/
.principal{
    position: relative;
}

#img-principal img{
    border-radius: 2px;
    width: 100%;
}
/*fim principal*/

/*Iníico destaque*/
#destaque{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

#destaque h3{
    background-color: white;
    border-radius: 20px;
    color: orange;
    font-size: 1.4em;
    padding: 8px;
}

.destaque-produto{
    border: 1px solid gainsboro;
    margin: 20px;
}

.destaque-produto img{
    border-radius: 14px;
    width: 220px;
    height: 220px;
}

.destaque-produto p{
    border-radius: 40px;
    position: relative;
    left: 60px;
    background-color: orange;
    text-align: center;
    padding: 5px 0px;
    width: 100px;
}
/*Fim destaque*/
/*Início conteúdo*/
#conteudo{
    background-color: white;
    width: 940px;
    margin: 10px auto
}

#conteudo img{
    border-radius: 12px;
    width: 100%;
}

.secao-nome{
    text-align: center;
}

.secao-nome h2{
    background-color: orange;
    border-radius: 20px;

    font-size: 1.6em;
    margin: 10px auto;
    padding: 10px 0px;
    width: 170px;
}

.secao{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secao p{
    background-color: #D9D9D9;
    border-radius: 15px;
    text-align: center;
    padding: 10px 0px;
    margin: 8px;
}

.secao-img{
    margin: auto 20px;
}

#conteudo .secao-img img{
    width: 210px;
    height: 210px;
}
/*Fim conteúdo*/
/*Rodapé*/
.rodape{
    background-color: rgb(27, 27, 27);
    clear: both;
}

.icons-rede{
    float: left;
    padding: 0px 30px;
}

.icons-rede img{
    width: 30px;
}

.copy{
    text-align: center;
    color: orange;
    margin: auto;
    width: 300px;
}

.copy p{
    padding: 10px 0;
}
/*
***Página cadastro***
*/
#cadastro{
    position: relative;
    height: 743px;
    width: 1000px;
    margin: auto;
}

#texto-cadastro{
    position: relative;
    top: 200px;
    text-align: center;
}

#texto-cadastro h1{
    background-color: orange;
    border-radius: 20px;
    font-size: 2em;
    width: 300px;
    margin: 15px auto;
}

#texto-cadastro p{
    background-color: white;
    border-radius: 8px;
    font-size: 1.1em;
    width: 390px;
    margin: 10px auto;
}

#form-cadastro{
    position: relative;
    top: 220px;
    text-align: center;
}

#form-cad-submit{
    background-color: orange;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    padding: 5px 0px;
    width: 150px;
}

#form-cad-submit:hover{
    background-color: white;
    color: orange;
}

.itens-cadastro{
    background-color: orange;
    border-radius: 12px;
    width: 370px;
    padding: 15px 0px;
    margin: 20px auto;
}

.itens-cadastro input{
    background: transparent;
    border: none;
    border-bottom: 1px solid;
}

.itens-cadastro input:focus{
    box-shadow: 0;
    outline: 0;
}
/*
*** Página carrinho ***
*/
#carrinho{
    background: white;
    border: 1px solid green;
    float: right;
    margin-top: 10px;
    margin-right: 50px;
}

#produto-carrinho{
    border: 1px solid blue;
}

#total-carrinho{

}

#area-carrinho{
    background-color: white;
    border-radius: 16px;
    position: relative;
    width: 940px;
    margin: 15px auto;
}

#area-carrinho h2{
    color: orange;
    font-size: 1.6em;
    text-align: center;
    margin: auto;
    padding: 10px 0px;
    width: 400px;
}

.produto-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.produto-list span{
    font-size: 1.2em;
}

.produto-list img{
    width: 100px;
    height: 100px;
}

.produto-list p{
    font-size: 1.1em;
}

.number-quant{
    background-color: orange;
    border-radius: 80px;
    padding: 10px 15px;
}
/*
*** Página produtos ***
*/
#categoria{
    position: relative;
    float: left;
    width: 320px;
    margin-left: 10px;
}

#categoria h2{
    background-color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 1.3em;
    color: orange;
    padding: 10px;
}

#list-categoria{
    background-color: white;
    border-radius: 14px;
    margin: 15px auto;
    padding: 5px 0px;
    width: 240px;
}

#list-categoria li{
    list-style: none;
    margin: 15px auto;
    width: 180px;
}

#list-categoria p{
    border-radius: 8px;
    background-color: #D9D9D9;
    color: black;
}

#list-categoria p:hover{
    background-color: orange;
    color: black;
}

#produtos{
    width: 940px;
    margin: 10px auto;
}

#produtos h2{
    background-color: white;
    border-radius: 15px;
    text-align: center;
    font-size: 1.6em;
    color: orange;
}

.itens-produtos{
    border-radius: 16px;
    background-color: white;
    margin: 10px;
    float: left;
}

.itens-produtos img{
    padding: 10px 0px;
    width: 210px;
    height: 210px;
}

.itens-produtos p{
    background-color: #D9D9D9;
    border-radius: 20px;
    text-align: center;
    margin: 10px 15px;
    font-size: 14px;
}
